package ${packageName}.entity;

import lombok.Data;
import org.springframework.data.annotation.CreatedDate;
import org.springframework.data.annotation.LastModifiedDate;
import javax.persistence.*;
import java.util.Date;

/**
* $className 实体
* @author $author
* @date $_du.now()
*/
@Data
@Entity
public class ${className}Entity extends BaseEntity {

    #foreach($field in $fields)
        #foreach($f in $field.entrySet())
    private $f.value $f.key;

        #end
    #end

}
