package ${packageName}.controller;

import ${packageName}.domain.${moduleName}Entity;
import ${packageName}.service.${moduleName}Service;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.web.bind.annotation.*;
import org.zechac.atlas.common.web.JsonResponse;

import java.util.Map;

/**
 * $moduleName 控制器
 * @author $author
 * @date $dateutils.format($date,"yyyy-MM-dd")
 */
@Slf4j
@RestController
public class ${moduleName}Controller {

    @Autowired
    private ${moduleName}Service service;

    /**
    * 列表
    * @param requestParam
    * @return
    */
    @RequestMapping("/page")
    public JsonResponse page(Pageable pageable, @RequestParam Map requestParam){
        Page page= service.queryByPage(pageable);
        return JsonResponse.success().data(page);
    }

    /**
    * 获取单个
    * @return
    */
    @RequestMapping("/get/{id}")
    public JsonResponse get(@PathVariable Long id){
        ${moduleName}Entity entity=service.findById(id);
        return JsonResponse.success().data(entity);
    }

    /**
    * 添加/编辑动态列表
    * @return
    */
    @RequestMapping("/save")
    public JsonResponse save(@RequestBody ${moduleName}Entity entity){
        service.save(entity);
        return JsonResponse.success();
    }

    /**
    * 删除动态列表
    * @return
    */
    @RequestMapping("/delete")
    public JsonResponse delete(@RequestBody ${moduleName}Entity entity){
        service.deleteEntity(entity);
        return JsonResponse.success();
    }

}