package ${packageName}.repo;

import ${packageName}.domain.${moduleName}Entity;
import org.zechac.atlas.common.repo.BaseRepo;
/**
* $moduleName 控制器
* @author $author
* @date $_du.now()
*/
public interface ${moduleName}Repo extends BaseRepo<${moduleName}Entity,Long>{

}