package ${packageName}.service;

import ${packageName}.domain.${moduleName}Entity;
import ${packageName}.repo.${moduleName}Repo;
import org.zechac.atlas.common.repo.BaseRepo;
import org.springframework.stereotype.Service;
import org.zechac.atlas.common.services.BaseServiceImpl;

/**
* $moduleName 服务
* @author $author
* @date $_du.now()
*/
@Service
public class ${moduleName}Service extends BaseServiceImpl<${moduleName}Entity, ${moduleName}Repo> {

}